@font-face {
   font-family: 'Lovelyn Free Personal USe';
   font-display: swap;
   src: url('file:///C:/Users/XEDONO/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-08-24_055406/fonts/Lovelyn%20Free%20Personal%20USe/font.ttf');
}
